*, *:before, *:after {
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type:mandatory;

}
body{
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(114, 197, 197);
}
/*Estilos Scroll*/
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track{
    background: #3F3962;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background: #65929D;
    border-radius: 50px;
}

/** Header **/
.header {
    display: flex;
    justify-content: center;
    height: 40rem;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__logo {
    margin: 3rem 0;
    max-width: 40rem;
}
.contenedor{
    max-width: 120rem;
    
    margin: 0 auto 0 auto;
}
.sombra{

    -webkit-box-shadow: 0px 5px 15px 0px rgba(125,118,125,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(125,118,125,1);
    box-shadow: 0px 5px 15px 0px rgb(110, 117, 119);
    background-color:#d1e0d8;
    padding: 2rem;
    border-radius: 2rem;

}
.footer{
   
    
    
    text-align: center;
}
.centrar-texto {
    text-align: center;
}

.boton {
    display:flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
@media (max-width: 768px) {
    .centrar-texto {
        display: flexbox;
        font-size: small;
    }
    .campo{
        flex-direction: column;
        justify-content: center;
    }
    .boton{
        flex: content;
    }
    
}
@media (min-width: 768px) {
   
    .boton {
        display: inline-flex;

    }
}
.boton:hover {
    cursor: pointer;
    background-color: #66ad8c;
    box-shadow: 0 0 10px #66ad8c, 0 0 40px #66ad8c, 0 0 80px #66ad8c;
    transition-delay: .5s;
}
.boton--primario {
    background-color:#41a78d;
    margin: 10px;
    border-radius: 50px;

}
.formulario {
    background-color:rgb(183, 202, 186);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
    padding: 10px;
}
.campo__label {
    flex:content;
    text-align: right;
    padding-right: 2rem;
    
}
#numeros{
    border-radius: 10px;
    
    
}
#limite{
    border-radius: 10px;
    
    margin-left: 10px;
}
.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.pares{
    justify-content:space-between;
}
